{%extends 'base.html' %}

{% block title %}
  <title>Edit Task - TaskMate</title>
{% endblock title %}

{% block content %}
<br>
<div class="container">
    <form method="POST" class="row">
        {% csrf_token %}
          <!--<label for="exampleInputEmail1">Add Task</label>-->
          <label class="col-lg-2">Task Name</label>
          <input type="text" class="col-lg-6" name="task" placeholder="{{task_sel.task}}" value="{{task_sel.task}}">
          <input type="hidden" name="done" value="{{task_sel.done}}">
          <label class="col-lg-2"></label>
          <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        -->
        <!--<div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
      -->
        <button type="submit" class="btn btn-primary col-lg-2">Update Task</button>
      </form>
</div>
{% endblock content %}