{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Homepage - TaskMate</title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row mt-5">
      <div class="col-lg-4">
        <img src="{% static 'images/sticky_notes.jpeg' %}" height="240" width="360" class="shadow-lg rounded"> 
      </div>
      <div class="col-lg-4" >
        <img src="{% static 'images/sticky_notes.jpeg' %}" height="240" width="360" class="shadow-lg rounded"> 
      </div>
      <div class="col-lg-4 ">
        <img src="{% static 'images/sticky_notes.jpeg' %}" height="240" width="360" class="shadow-lg rounded">
      </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-10 offset-md-1">
      <center>
      <p class="h1 text-primary">Quick and Easy to use Anytime Anywhere !</p>
      <p class="h2">"Plan your day better, Keep your day organized"</p> 
      <p class="h4">TaskMate lets you keep track of your Tasks in one place</p>
      <a href="{% url 'todolist' %}"><button class="btn btn-primary btn-lg mt-3 shadow" type="button">Let's Get  Started</button></a>
      </center>
    </div>
  </div>
  <div class="row">
    
  </div>
</div>
{% endblock content %}